.nav_hero{
    display: flex;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: #e0e0e0 1px solid;
}

.searchsearchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px gray;  
}

.searchsearchbar:hover{
    
    transition: all 0.3s ease-in-out;
}

.searchsearchbar input{
    border: none;
    outline: none;
    width: 100%;
    
}
.searchsearchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: gray 1px solid;
    border-radius: 20px;
    gap: 10px;
}
.currancy_login{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login button{
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #f37002;
    cursor: pointer;
}





















.arrow {
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour_container {
    width: 84.375vw;
    max-width: 1080px;
    margin: 0 auto;

}


.View_all {
    color: orange;
}

.tour_package_and_places {
    height: 500px;
    overflow: auto;
    
}

.tour_package_and_places {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

tour_package_and_places::-webkit-scrollbar {
    display: none;
}

.tour_place {
    height: 445px;
    display: flex;
    position: relative;
    gap: 10px;
    width: 100%;
}


.tour_place_card:hover {
    cursor: pointer;
    box-shadow: gray 0px 0px 10px;
    transition: all 0.3s ease-in-out;
}

.tour_place_card {
    padding: 5px;
    
    min-height: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.tour_place_card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;

}

.travel_rating_rating_in_proper_order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    gap: 20px;
}

.travel_details_things {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 4px;
    padding: 4px;
}

.travel_rating_things {
    display: flex;
}

.travel_rating_things img {
    height: 15px;
    width: 15px;
}

.travel_para_detail {
    padding: 4px;
    margin: 4px;
}

.travel_amoutnoff {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

.travel_nooff {
    text-decoration: line-through;
}

.svageupto {
    color: #f37002;
    background-color: #e5f2e8;
}

.totalamouttopay {
    display: flex;
    align-items: center;


}

.amouuttopay {
    font-size: 20px;
    font-weight: 600;
    margin: 4px;
    padding: 4px;
}

.peradult {
    color: #f37002;
    margin: 4px;
    padding: 4px;
}

.travel_btn_card {
    display: flex;
    gap: 12px;
}

.phone_logo {
    border: orange 1px solid;
    padding: 12px;
    border-radius: 8px;
}

.contact_us {
    background-color: #f37002;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
}
.divider_seperate{
    display: flex;
    align-items: center;
    margin: 50px 0;
    min-height: 1px;
    min-width: 1080px;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, .05) -.13%, hsla(0, 0%, 88%, .05) 0, #e0e0e0 49.17%, hsla(0, 0%, 88%, .05));
}