*{
    margin: 0;
    padding: 0;
}


.flex{
    display: flex;
}
justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.p-10{
    padding: 10px;
}
.p-10-bottom{
    padding-bottom: 10px;
}
.m-10{
    margin: 10px;
}
.light-text{
    opacity: 0.7;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 8px;
}
.space_between{
    justify-content: space-between;
}
.gap-15{
    gap: 10px;
}